[package]
name = "redlilium-graphics"
version.workspace = true
edition.workspace = true
license.workspace = true
description = "RedLilium engine graphics"

[features]
default = ["dummy"]
dummy = []

[dependencies]
log.workspace = true
bitflags.workspace = true
static_assertions.workspace = true
glam = "0.31"
