[package]
name = "redlilium-graphics"
version.workspace = true
edition.workspace = true
license.workspace = true
description = "RedLilium engine graphics"

[dependencies]
log.workspace = true
bitflags.workspace = true
static_assertions.workspace = true
